<div class="container">
	<div class=".col-md-6 col-md-offset-5">
		<h1>Add New Photo</h1>
		<%= form_for @photo, url: album_photos_path(@album.id) do |f| %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.file_field :image %>
      </p>
      <p><%= f.submit %></p> 
    <% end %>
	</div>
</div>